@{
    Layout = null;
}
@Styles.Render("~/Content/css")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center; background-color:orange; font-size:45px;">
        <b>Lam Huu Vinh</b>
    </div>
    <div>
        <pre>
            Chào bạn
                Chúng tôi cần xác nhận email của bạn để hoàn tất quá trình đăng kí của bạn
                click<a href="{@ViewBag.ConfirmationLink}">Here</a>
        </pre>
    </div>
</body>
</html>
